<div class="bg-light">
    <!-- <div class="filtersPc">
        <form [formGroup]="filtersForm" (change)="filterClothes()">
            <div class="">
                <h6 class="ml-5 mt-4 mb-2">Popularidad</h6>
                <div class="row ml-5 mt-4">
                    <div class="mr-4 form-group form-check" id="checkTendencia">
                        <input type="checkbox" formControlName="isTrending" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" id="checkTendencia2" for="exampleCheck1">Tendencias</label>
                    </div>
                    <div class="mr-4 form-group form-check" id="checkModa">
                        <input type="checkbox" formControlName="isFashion" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" id="checkModa2" for="exampleCheck2">A la moda</label>
                    </div>
                    <div class="mr-4 form-group form-check" id="checkNadaMal">
                        <input type="checkbox" formControlName="isGood" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" id="checkNadaMal2" for="exampleCheck3">Nada mal</label>
                    </div>
                    <div class="mr-4 form-group form-check" id="checkMejorar">
                        <input type="checkbox" formControlName="isOk" class="form-check-input" id="exampleCheck4">
                        <label class="form-check-label" id="checkMejorar2" for="exampleCheck4">Puede mejorar</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="">
                <h6 class="ml-5 mt-4 mb-2">Tipo De Ropa</h6>
                <div class="row ml-5 mt-4">
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="isHats" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" id="checkGeneral2" for="exampleCheck5">Gorras</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="isShirts" class="form-check-input" id="exampleCheck6">
                        <label class="form-check-label" id="checkGeneral2" for="exampleCheck6">Camisas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="isHodies" class="form-check-input" id="exampleCheck7">
                        <label class="form-check-label" id="checkGeneral2" for="exampleCheck7">Sudaderas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="isJackets" class="form-check-input" id="exampleCheck8">
                        <label class="form-check-label" id="checkGeneral2" for="exampleCheck8">Chaquetas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="isPants" class="form-check-input" id="exampleCheck9">
                        <label class="form-check-label" id="checkGeneral2" for="exampleCheck9">Pantalones</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="isShoes" class="form-check-input" id="exampleCheck10">
                        <label class="form-check-label" id="checkGeneral2" for="exampleCheck10">Zapatos</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="">
                <h6 class="ml-5 mt-4 mb-2">+Filtros</h6>
                <div class="row ml-5 mt-4">
                    <div class="mr-4 form-group form-check checkGeneral">
                        <ng-select bindLabel="Color" (change)="filterClothes()" placeholder="Color" multiple="true"
                            appendTo="body" formControlName="colors" [(ngModel)]="colorsSelected">
                            <ng-option [value]="color" *ngFor="let color of colors">{{color}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <ng-select bindLabel="Talla" (change)="filterClothes()" placeholder="Talla" multiple="true"
                            appendTo="body" formControlName="sizes" [(ngModel)]="sizesSelected">
                            <ng-option [value]="size" *ngFor="let size of sizes">{{size}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <ng-select bindLabel="Marca" (change)="filterClothes()" placeholder="Marca" multiple="true"
                            appendTo="body" formControlName="brands" [(ngModel)]="brandsSelected">
                            <ng-option [value]="brand" *ngFor="let brand of brands">{{brand}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <ng-select bindLabel="Precio" (change)="filterClothes()" placeholder="Precio" appendTo="body"
                            formControlName="price" [(ngModel)]="pricesSelected">
                            <ng-option [value]="price" *ngFor="let price of prices">{{price}}€</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-4 ml-4 filtersmovile">
        <button type="button" (click)="openModal(template)" class="btn btn-outline-dark" data-toggle="modal"
            data-target="#filtersModal">
            Filtros
        </button>

        <ng-template #template>
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="filtersForm" (change)="filterClothes()">
                    <div class="">
                        <h6 class="ml-5 mt-4 mb-2">Popularidad</h6>
                        <div class="row ml-5 mt-4">
                            <div class="mr-4 form-group form-check">
                                <input type="checkbox" formControlName="isTrending" class="form-check-input"
                                    id="exampleCheck1">
                                <label class="form-check-label" id="checkTendencia2"
                                    for="exampleCheck1">Tendencias</label>
                            </div>
                            <div class="mr-4 form-group form-check" id="checkModa">
                                <input type="checkbox" formControlName="isFashion" class="form-check-input"
                                    id="exampleCheck2">
                                <label class="form-check-label" id="checkModa2" for="exampleCheck2">A la moda</label>
                            </div>
                            <div class="mr-4 form-group form-check" id="checkNadaMal">
                                <input type="checkbox" formControlName="isGood" class="form-check-input"
                                    id="exampleCheck3">
                                <label class="form-check-label" id="checkNadaMal2" for="exampleCheck3">Nada mal</label>
                            </div>
                            <div class="mr-4 form-group form-check" id="checkMejorar">
                                <input type="checkbox" formControlName="isOk" class="form-check-input"
                                    id="exampleCheck4">
                                <label class="form-check-label" id="checkMejorar2" for="exampleCheck4">Puede
                                    mejorar</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="">
                        <h6 class="ml-5 mt-4 mb-2">Tipo De Ropa</h6>
                        <div class="row ml-5 mt-4">
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="isHats" class="form-check-input"
                                    id="exampleCheck5">
                                <label class="form-check-label" id="checkGeneral2" for="exampleCheck5">Gorras</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="isShirts" class="form-check-input"
                                    id="exampleCheck6">
                                <label class="form-check-label" id="checkGeneral2" for="exampleCheck6">Camisas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="isHodies" class="form-check-input"
                                    id="exampleCheck7">
                                <label class="form-check-label" id="checkGeneral2" for="exampleCheck7">Sudaderas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="isJackets" class="form-check-input"
                                    id="exampleCheck8">
                                <label class="form-check-label" id="checkGeneral2" for="exampleCheck8">Chaquetas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="isPants" class="form-check-input"
                                    id="exampleCheck9">
                                <label class="form-check-label" id="checkGeneral2"
                                    for="exampleCheck9">Pantalones</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="isShoes" class="form-check-input"
                                    id="exampleCheck10">
                                <label class="form-check-label" id="checkGeneral2" for="exampleCheck10">Zapatos</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mb-5">
                        <h6 class="ml-5 mt-4 mb-2">+Filtros</h6>
                        <div class="row mt-4 mb-5">
                            <div class="col-6 form-group form-check checkGeneral">
                                <ng-select bindLabel="Color" (change)="filterClothes()" placeholder="Color"
                                    multiple="true" appendTo="body" formControlName="colors"
                                    [(ngModel)]="colorsSelected">
                                    <ng-option [value]="color" *ngFor="let color of colors">{{color}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-6 form-group form-check checkGeneral">
                                <ng-select bindLabel="Talla" (change)="filterClothes()" placeholder="Talla"
                                    multiple="true" appendTo="body" formControlName="sizes" [(ngModel)]="sizesSelected">
                                    <ng-option [value]="size" *ngFor="let size of sizes">{{size}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-6 form-group form-check checkGeneral mb-5">
                                <ng-select bindLabel="Marca" (change)="filterClothes()" placeholder="Marca"
                                    multiple="true" appendTo="body" formControlName="brands"
                                    [(ngModel)]="brandsSelected">
                                    <ng-option [value]="brand" *ngFor="let brand of brands">{{brand}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-6 form-group form-check checkGeneral mb-5">
                                <ng-select bindLabel="Precio" (change)="filterClothes()" placeholder="Precio"
                                    appendTo="body" formControlName="price" [(ngModel)]="pricesSelected">
                                    <ng-option [value]="price" *ngFor="let price of prices">{{price}}€</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Ver
                    resultados</button>
            </div>
        </ng-template>
    </div> -->
    <h2 class="p-5">Mis favoritos</h2>
    <div class="row p-5">
        <div *ngFor="let clothe of clothes" class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="mb-3">
                        <progressbar class="progress-striped active" [value]="animation ? clothe['percentage'] : 0"
                            [type]="getType(clothe['percentage'])"></progressbar>
                    </div>
                    <a [href]="clothe['link']" target="_blank"
                        (click)="addImpact(clothe['@id'].replace('/clothes/', ''))"><img
                            [src]="'http://localhost:8000/media/'+clothe['image']['filePath']" class="card-img-top m-5"
                            [alt]="clothe['title']"></a>
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"> <a [href]="clothe['link']" target="_blank"
                            (click)="addImpact(clothe['@id'].replace('/clothes/', ''))">{{clothe['title']}}</a></h5>
                    <p class="card-text">{{clothe['description']}}</p>
                    <h6 class="card-text">Impactos: <strong>{{clothe['impacts']}}</strong></h6>
                    <h3 class="card-text text-right">{{clothe['price']}}€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">{{clothe['createdAt']}}</h6>
                        </div>
                        <span class="col-4 text-right">
                            <i class="fa fa-heart fa-lg" style="color: #dc3545;"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>