<div class="bg-light">
    <div class="inlcuirGrid mt-5">
        <div class="">
            <div class="fechasOrdenador">
                <div class="border rounded border-dark align-middle m-2 cambiosContenido">
                    <!-- <h6>Categorías:</h6> -->
                    <form [formGroup]="filtersForm" class="p-2">
                        <div class="form-group">
                            <ng-select bindLabel="Ordenar por" (change)="filterClothes()" placeholder="Ordenar por"
                                appendTo="body" formControlName="order" [(ngModel)]="orderSelected">
                                <ng-option [value]="order" *ngFor="let order of orders">{{order['name']}}</ng-option>
                            </ng-select>
                        </div>
                    </form>
                    <ul class="list-group">
                        <li *ngFor="let category of categories" [ngStyle]="{'opacity': category['currentClothes'] > 0 ? '1' : '0.3'}"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <a [ngStyle]="{'pointer-events': category['currentClothes'] > 0 ? 'cursor' : 'none'}" [href]="'collections/' + category['name'].toLowerCase()">{{category['name']}}</a>
                            <span class="badge badge-danger badge-pill">{{category['currentClothes']}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fechasMovil">
                <!-- Button trigger modal -->
                <div class="row justify-content-end mr-1">
                    <button type="button" (click)="openModal(template)" class="btn-mobile btn btn-outline-dark ml-3"
                        data-toggle="modal" data-target="#dateModal">
                        <i class="fa fa-sort"></i>
                    </button>
                </div>


                <!-- Modal -->
                <ng-template #template>
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="dateModalLabel">Categorías</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="border rounded border-dark align-middle m-2 cambiosContenido">
                            <form class="p-2">
                                <div class="form-group">
                                    <ng-select bindLabel="Ordenar por" (change)="filterClothes()"
                                        placeholder="Ordenar por" appendTo="body" formControlName="order"
                                        [(ngModel)]="orderSelected">
                                        <ng-option [value]="order" *ngFor="let order of orders">{{order['name']}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </form>
                            <ul class="list-group">
                                <li *ngFor="let category of categories" [ngStyle]="{'opacity': category['currentClothes'] > 0 ? '1' : '0.3'}"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <a [ngStyle]="{'pointer-events': category['currentClothes'] > 0 ? 'cursor' : 'none'}" [href]="'collections/' + category['name'].toLowerCase()">{{category['name']}}</a>
                                    <span class="badge badge-danger badge-pill">{{category['currentClothes']}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="modalRef.hide()">Ver
                            Resultados</button>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="row p-5">
            <div *ngFor="let clothe of clothes" class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card" [ngStyle]="{'opacity': clothe['isAvailable'] ? '1' : '0.3'}">
                    <div class="text-center w-100">
                        <div class="mb-3">
                            <progressbar class="progress-striped active" [value]="animation ? clothe['percentage'] : 0"
                                [type]="getType(clothe['percentage'])"></progressbar>
                        </div>
                        <a [href]="clothe['link']" target="_blank"
                            [ngStyle]="{'pointer-events': clothe['isAvailable'] ? 'cursor' : 'none'}"
                            (click)="addImpact(clothe['@id'].replace('/clothes/', ''))"><img
                                [src]="'http://localhost:8000/media/'+clothe['image']['filePath']"
                                class="card-img-top m-5" [alt]="clothe['title']"></a>
                    </div>
                    <div class="card-body border-top">
                        <h5 class="card-title"> <a [href]="clothe['link']" target="_blank"
                                [ngStyle]="{'pointer-events': clothe['isAvailable'] ? 'cursor' : 'none'}"
                                (click)="addImpact(clothe['@id'].replace('/clothes/', ''))">{{clothe['title']}}</a></h5>
                        <p class="card-text">{{clothe['description']}}</p>
                        <h6 class="card-text">Impactos: <strong>{{clothe['impacts']}}</strong></h6>
                        <h3 class="card-text text-right">{{clothe['price']}}€</h3>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="text-muted">{{clothe['createdAt']}}</h6>
                            </div>
                            <span (click)="clickFavorite(clothe['@id'])" class="col-4 text-right">
                                <i *ngIf="userClothes.includes(clothe['@id'])" class="fa fa-heart fa-lg"
                                    style="color: #dc3545;"></i>
                                <i *ngIf="!userClothes.includes(clothe['@id'])" class="fa fa-heartbeat fa-lg"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>