<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container-fluid p-4 pt-5">
        <!-- Section: Social media -->
        <section class="mb-5">
            <i class="fa fa-facebook fa-2x mr-3"></i>
            <i class="fa fa-twitter fa-2x mr-3"></i>
            <i class="fa fa-envelope fa-2x mr-3"></i>
            <i class="fa fa-instagram fa-2x mr-3"></i>
            <i class="fa fa-whatsapp fa-2x"></i>
        </section>

        <!-- Section: Form -->
        <section class="mb-3 container">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                            Newsletter
                        </p>
                    </div>

                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control" />
                        </div>
                    </div>

                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Suscribete
                        </button>
                    </div>
                </div>
            </form>
        </section>

        <!-- Section: Text -->
        <section class="">
            <strong>¡ COLABORA CON NOSOTROS !</strong>
        </section>

        <!-- Copyright -->
        <div class="text-center p-3">
            <hr class="bg-light">
            © 2021 Copyright:
            <a class="text-white" href="https://toptrendingclothes.com/">toptrendingclothes.com</a>
        </div>
    </div>

</footer>