<div class="bg-light">
    <div class="container">
        <h2 class="p-2 mt-2 border-bottom border-dark">Sobre Nosotros</h2>
        <div class="mt-4 p-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa repellat ratione magnam ullam
                necessitatibus commodi, inventore vero optio corrupti saepe quos rerum voluptas, ut odio voluptatum
                laborum iusto debitis deleniti. Mollitia fugiat excepturi eligendi dolor? Dolor saepe debitis id
                praesentium, voluptatibus quae voluptatem et odio expedita natus facilis. In nostrum, ut repudiandae
                magnam iusto quisquam quia mollitia eius cumque nam doloribus natus, consequuntur quo, asperiores quos
                eaque amet totam? Perferendis.</p>
        </div>


        <h2 class="p-2 border-bottom border-dark">Empresas Asociadas</h2>
        <div class="mt-4 p-2">
            <h3>Amazon</h3>
            <div class="">
                <p class="">
                    <img src="/assets/amazon.png" alt="ImageAboutUs1" style="height: 200px;float: right;"
                        class="p-2 imgheight">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem
                    suscipit, quidem
                    nemo
                    pariatur id
                    nostrum veritatis earum voluptatem animi fugit quaerat voluptas ipsum impedit beatae nam at
                    nulla
                    eum
                    facere! Nemo nostrum qui incidunt architecto illum nesciunt pariatur nam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nihil velit dolore
                    consequuntur?
                    Itaque eos maiores incidunt ipsum eligendi. Cum dolores maiores id delectus non fuga ipsa dolor
                    nihil nemo ipsam excepturi, sint ad debitis dolore nobis velit officiis?

                </p>

            </div>
        </div>

        <div class="">
            <h3>AliExpress</h3>
            <div class="">
                <p>
                    <img src="/assets/aliexpress.png" alt="ImageAboutUs2" style="height: 200px;float: left;"
                        class="p-2 imgheight">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem
                    suscipit, quidem
                    nemo
                    pariatur id
                    nostrum veritatis earum voluptatem animi fugit quaerat voluptas ipsum impedit beatae nam at
                    nulla
                    eum
                    facere! Nemo nostrum qui incidunt architecto illum nesciunt pariatur nam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nihil velit dolore
                    consequuntur?
                    Itaque eos maiores incidunt ipsum eligendi. Cum dolores maiores id delectus non fuga ipsa dolor
                    nihil nemo ipsam excepturi, sint ad debitis dolore nobis velit officiis?
                </p>
            </div>
        </div>

        <div class="mt-5 p-1 mb-5">
            <h3>Shein</h3>
            <div class="">
                <p class="">
                    <img src="/assets/shein.png" alt="ImageAboutUs1" style="height: 200px;float: right;"
                        class="p-2 imgheight">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem
                    suscipit, quidem
                    nemo
                    pariatur id
                    nostrum veritatis earum voluptatem animi fugit quaerat voluptas ipsum impedit beatae nam at
                    nulla
                    eum
                    facere! Nemo nostrum qui incidunt architecto illum nesciunt pariatur nam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nihil velit dolore
                    consequuntur?
                    Itaque eos maiores incidunt ipsum eligendi. Cum dolores maiores id delectus non fuga ipsa dolor
                    nihil nemo ipsam excepturi, sint ad debitis dolore nobis velit officiis?

                </p>
            </div>
        </div>

    </div>
</div>