<header>
    <div class="text-center bg-dark">
        <h1 class="text-white">Nombre <img src="/assets/logo.svg.png" height="100px" class="" alt="Logo Pagina"> Empresa</h1>
    </div>
    <nav class="nav justify-content-center rounded">
        <ul class="nav border-bottom ">
            <li class="nav-item">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Colecciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Empresas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </nav>
</header>