<header>
    <div class="text-center bg-dark">
        <h1 class=""><a href="" class="text-white" style="text-decoration: none;">Trending <img src="/assets/logo.svg.png" height="100px" class="imgMovile" alt="Logo Pagina"> Clothes</a></h1>
    </div>
    <nav class="nav justify-content-center">
        <ul class="nav border-bottom">
            <li class="nav-item">
              <a *ngIf="!authService.getIsAdmin()" class="nav-link" routerLink="about-us">Nosotros</a>
              <a *ngIf="authService.getIsAdmin()" class="nav-link" routerLink="clothes-list">Artículos</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!authService.getIsAdmin()" class="nav-link" routerLink="collections">Colecciones</a>
              <a *ngIf="authService.getIsAdmin()" class="nav-link" routerLink="categories-list">Categorías</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!authService.getIsAdmin()" class="nav-link" routerLink="companies">Empresas</a>
              <a *ngIf="authService.getIsAdmin()" class="nav-link" routerLink="users-list">Usuarios</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!authService.isReallyLoggedIn()" class="nav-link" routerLink="login">Login</a>
              <a *ngIf="authService.isReallyLoggedIn()" class="nav-link" routerLink="new-clothe" (click)="authService.logout()">Logout</a>
            </li>
        </ul>
    </nav>
</header>