<div class="bg-light">
    <form class="row ml-5 mt-5 p-3">
        <div class="mr-4 form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Tendencias</label>
        </div>
        <div class="mr-4 form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">A la moda</label>
        </div>
        <div class="mr-4 form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck3">
            <label class="form-check-label" for="exampleCheck3">Nada mal</label>
        </div>
        <div class="mr-4 form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck4">
            <label class="form-check-label" for="exampleCheck4">Puede mejorar</label>
        </div>
      </form>
    <!-- <div class="">
        <button class="btn btn-lg buttonFilter btn-outline-dark" type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filtros
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Camisetas</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Pantalones</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="card-deck p-5">
        <div class="card">
            <div class="text-center w-100">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                        title="Tendencia" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
                    </div>
                </div>
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQbGQfE0ef2KYAqvvTpywjzGKH9E5hFrg4z9echH9hpAyeRSL4JodwYX3JLNfA5Y-sE0JNV0eYKMw&usqp=CAc" class="card-img-top m-5" alt="...">
            </div>
            <div class="card-body border-top">
                <h5 class="card-title"> <a href="https://www.zalando.es/mango-real-sudadera-blau-m9122s0a6-k11.html?size=M&allophones=0&wmc=SEM340_NB_GO._3922365855_673823494_29767381890.&opc=2211&mpp=google%7cv1%7c%7cpla-262301597036%7c%7c1005517%7c%7cg%7cc%7c%7c149794006548%7c%7cpla%7cM9122S0A6-K11000M000%7c262301597036%7c1%7c&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1AA3vj2VDaZVTsCmZrEsV_bBii0iDdzdWQBhnYWoMFMOQ-afAOS4h8aAmF1EALw_wcB&gclsrc=aw.ds" target="_blank">Sudadera</a></h5>
                <p class="card-text">Sudadera de la mejor calidad, perfecta para el frío invierno</p>
                <h6 class="card-text">Impactos: <strong>67</strong></h6>
                <h3 class="card-text text-right">12.99€</h3>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <h6 class="text-muted">01/07/2021</h6>
                    </div>
                    <span class="col-4 text-right">
                        <i class="fa fa-heart fa-lg" style="color: #dc3545;"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="text-center w-100">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        title="Puede mejorar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                        style="width: 10%"></div>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRPndJs3hfgsWKARjUM796s6IaMdTW2VCUGlz2wav8QYwd0qazasQqnRBA9SQPA_kuLleU29mzD5rQ&usqp=CAc" class="card-img-top m-5" alt="...">
            </div>
            <div class="card-body border-top">
                <h5 class="card-title"> <a href="https://www.aboutyou.es/p/jack-jones/chaqueta-de-entretiempo-4569661?vid=39049577&quick=view&utm_source=google&utm_medium=cpc&utm_campaign=PLA_ES_AP_Best_Generic_NK_CSS_ADF&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1AW3_OlBZPqE12UP2x3SjBLd82jEruw54NaZ24jgcguv5lqYUXPB18aAsV-EALw_wcB" target="_blank">Chaqueta</a></h5>
                <p class="card-text">Chaqueta de alta costura, perfecta para lucirla</p>
                <h6 class="card-text">Impactos: <strong>2</strong></h6>
                <h3 class="card-text text-right">30€</h3>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <h6 class="text-muted">02/07/2021</h6>
                    </div>
                    <span class="col-4 text-right">
                        <i class="fa fa-heart-o fa-lg" style="color: #007bff;"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="text-center w-100">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                        title="Tendencia" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                    </div>
                </div>
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ3DCmjY5hrM_j4EkchQf58l_kAz09cvQQw2r-DCBaJQpSJD7jp3TJjg_7-Y40OX7zNKzfpdYX4CA&usqp=CAc" class="card-img-top m-5" alt="...">
            </div>
            <div class="card-body border-top">
                <h5 class="card-title"><a href="https://es.shein.com/Los-Angeles-Graphic-Short-Sleeve-Tee-p-1542195-cat-1738.html?url_from=esadplaswtee01200824400M&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1D36tUXQtSgK_HsO-e0KwKlXXVR7QHZ6kFwf_L4UmsLTFj4dGegoqIaAvDdEALw_wcB" target="_blank">Camisa</a></h5>
                <p class="card-text">Camisa fresca, listo para el verano</p>
                <h6 class="card-text">Impactos: <strong>55</strong></h6>
                <h3 class="card-text text-right">4.99€</h3>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <h6 class="text-muted">01/07/2021</h6>
                    </div>
                    <span class="col-4 text-right">
                        <i class="fa fa-heart-o fa-lg" style="color: #dc3545;"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck p-5">
        <div class="card">
            <div class="text-center w-100">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                        aria-valuenow="40" title="Nada mal" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    </div>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQxyqssWhwky_fI9mmngFKGJxqu6TJl9NsZvi82fK3cjIxnIwm56tRnI8yIkvLSfeGmG_frvam6Mfw&usqp=CAc" class="card-img-top m-5" alt="...">
            </div>
            <div class="card-body border-top">
                <h5 class="card-title"><a href="https://www.zalando.es/urban-classics-pantalones-deportivos-brown-ur622j002-o11.html?size=XXL&allophones=0&wmc=SEM340_NB_GO._3922365855_673823494_29767381370.&opc=2211&mpp=google%7cv1%7c%7cpla-1045789648763%7c%7c1005517%7c%7cg%7cc%7c%7c149794006521%7c%7cpla%7cUR622J002-O110XXL000%7c1045789648763%7c1%7c&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1CJGscxWq91MpmxTeyfO3lYiHhBZ1ED1uz5gicCxaeHgCwk8tsBQBkaAu_eEALw_wcB&gclsrc=aw.ds" target="_blank">Pantalón</a></h5>
                <p class="card-text">Pantalón italiano, a vestir de Bérgamo</p>
                <h6 class="card-text">Impactos: <strong>22</strong></h6>
                <h3 class="card-text text-right">7.99€</h3>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <h6 class="text-muted">01/07/2021</h6>
                    </div>
                    <span class="col-4 text-right">
                        <i class="fa fa-heart fa-lg text-success"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="text-center w-100">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                        title="A la moda" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                    </div>
                </div>
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRAskZsg5jA7Kr_UHvxVXBlk997QYltZwx6vRkyB9kMrURmgm2Cx55zSgn9_f5dHnAjAS3rldLh9g&usqp=CAc" class="card-img-top m-5" alt="...">
            </div>
            <div class="card-body border-top">
                <h5 class="card-title"><a href="https://www.amazon.es/Deportes-Ajustables-b%C3%A9isbol-cl%C3%A1sica-Transpirable/dp/B07S7CBZ11/ref=asc_df_B07S7CBZ11/?tag=googshopes-21&linkCode=df0&hvadid=346791918447&hvpos=&hvnetw=g&hvrand=6234736470476570331&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1005517&hvtargid=pla-758626463663&psc=1" target="_blank">Gorra</a></h5>
                <p class="card-text">Gorra del flow, para gente atrevida</p>
                <h6 class="card-text">Impactos: <strong>36</strong></h6>
                <h3 class="card-text text-right">4.50€</h3>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <h6 class="text-muted">02/07/2021</h6>
                    </div>
                    <span class="col-4 text-right">
                        <i class="fa fa-heart fa-lg text-warning"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="text-center w-100">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                        title="Tendencia" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%">
                    </div>
                </div>
                <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQRqMZYbWLaDwSpUWPOIsA_IwTSnBLgJiqj53-5FJZ82kzWAPVfcFnAMsnLYRti1Pif9igSGnn9drnt&usqp=CAc" class="card-img-top m-5" alt="...">
            </div>
            <div class="card-body border-top">
                <h5 class="card-title"><a href="https://es.shein.com/Lace-up-Front-Wide-Fit-Sneakers-p-970057-cat-1913.html?url_from=esadplaswshoes03191216691EUR35&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1Ddwsyl47pIrkwXmhWuhYDblJ-eNlUdKhACKLF5ujQHmvp1w6wysaQaAobKEALw_wcB" target="_blank">Zapatos</a></h5>
                <p class="card-text">Zapatos de vestir, comodidad a tu alcance</p>
                <h6 class="card-text">Impactos: <strong>45</strong></h6>
                <h3 class="card-text text-right">19€</h3>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <h6 class="text-muted">02/07/2021</h6>
                    </div>
                    <span class="col-4 text-right">
                        <i class="fa fa-heart-o fa-lg text-danger"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>