img {
    height: 200px;
    width: 200px;
}

.card-footer {
    width: 100%;
}

.progress {
    border: 2px dashed rgba(0, 0, 0, 0.125);
}

/* .form-check {
    border-bottom: 1px solid #343a40c0;
    width: fit-content;
} */

/* Filtros Generales */

.checkGeneral :hover {
    /* Color provisional */
    /* color: rgba(0, 183, 255, 0.486); */
    color: #ca1a1abf;
}

input[type="checkbox"]:checked + .checkGeneral2 {
    /* color: rgba(0, 183, 255, 0.486); */
    color: #ca1a1abf;

}
/* ------------------ */

/* Filtros Popularidad */

#checkTendencia :hover {
    /* Color provisional */
    color: #bd404d85;
}

input[type="checkbox"]:checked + #checkTendencia2 {
    color: #bd404d85;
}

#checkModa :hover {
    /* Color provisional */
    color: #ffa80883;
}

input[type="checkbox"]:checked + #checkModa2 {
    color: #ffa80883;
}

#checkNadaMal :hover {
    /* Color provisional */
    color: #d8aa227c;
}

input[type="checkbox"]:checked + #checkNadaMal2 {
    color: #d8aa227c;
}

#checkMejorar :hover {
    /* Color provisional */
    color: #0e97af7a;
}

input[type="checkbox"]:checked + #checkMejorar2 {
    color: #0e97af7a;
}

/* ------------------ */

.buttonFilter {
    border-color: #343a40;
    border-style: solid;
    border-width: 3px;
}

.btn-outline-dark {
    border-color: #343a40 !important;
}

a {
    color: black;
}

.filtersPc {
    display: block;
}

.filtersmovile {
    display: none;
}

@media (max-width: 1000px) {
    img {
        height: 50%;
        width: 50%;
    }
    .form-check {
        font-size: 0.80rem;
    }
}

@media (max-width: 500px) {
    .filtersmovile {
        display: block;
    }
    .filtersPc {
        display: none;
    }
    .col-4 {
        width: 100% !important;
    }
}