<div class="bg-light">
    <div class="filtersPc">
        <form [formGroup]="filtersForm" (change)="filterClothes()">
            <!-- Filtros cantidad de tendencia/popularidad -->
            <div class="">
                <h6 class="ml-5 mt-4 mb-2">Popularidad</h6>
                <div class="row ml-5 mt-4">
                    <div class="mr-4 form-group form-check" id="checkTendencia">
                        <input type="checkbox" formControlName="isTrending" class="form-check-input"
                            id="fireCheck">
                        <label class="form-check-label" id="checkTendencia2"
                            for="fireCheck">Fire</label>
                    </div>
                    <div class="mr-4 form-group form-check" id="checkModa">
                        <input type="checkbox" formControlName="isFashion" class="form-check-input"
                            id="hotCheck">
                        <label class="form-check-label" id="checkModa2" for="hotCheck">Hot</label>
                    </div>
                    <div class="mr-4 form-group form-check" id="checkNadaMal">
                        <input type="checkbox" formControlName="isGood" class="form-check-input"
                            id="coolCheck">
                        <label class="form-check-label" id="checkNadaMal2" for="coolCheck">Cool</label>
                    </div>
                    <div class="mr-4 form-group form-check" id="checkMejorar">
                        <input type="checkbox" formControlName="isOk" class="form-check-input"
                            id="chillCheck">
                        <label class="form-check-label" id="checkMejorar2" for="chillCheck">Chill</label>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Filtros tipo de ropa -->
            <div class="">
                <h6 class="ml-5 mt-4 mb-2">Tipo De Ropa</h6>
                <div class="row ml-5 mt-4">
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="accesorios" class="form-check-input"
                            id="accesoriosCheck">
                        <label class="form-check-label" class="checkGeneral2" for="accesoriosCheck">Accesorios</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="bañadores" class="form-check-input"
                            id="bañadoresCheck">
                        <label class="form-check-label" class="checkGeneral2" for="bañadoresCheck">Bañadores</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="bermudas" class="form-check-input"
                            id="bermudasCheck">
                        <label class="form-check-label" class="checkGeneral2" for="bermudasCheck">Bermudas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="bolsos" class="form-check-input"
                            id="bolsosCheck">
                        <label class="form-check-label" class="checkGeneral2" for="bolsosCheck">Bolsos</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="camisas" class="form-check-input"
                            id="camisasCheck">
                        <label class="form-check-label" class="checkGeneral2" for="camisasCheck">Camisas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="camisetas" class="form-check-input"
                            id="camisetasCheck">
                        <label class="form-check-label" class="checkGeneral2" for="camisetasCheck">Camisetas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="cazadoras" class="form-check-input"
                            id="cazadorasCheck">
                        <label class="form-check-label" class="checkGeneral2" for="cazadorasCheck">Cazadoras</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="chaquetas" class="form-check-input"
                            id="chaquetasCheck">
                        <label class="form-check-label" class="checkGeneral2" for="chaquetasCheck">Chaquetas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="gorras" class="form-check-input"
                            id="gorrasCheck">
                        <label class="form-check-label" class="checkGeneral2" for="gorrasCheck">Gorras</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="jeans" class="form-check-input"
                            id="jeansCheck">
                        <label class="form-check-label" class="checkGeneral2" for="jeansCheck">Jeans</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="jerseis" class="form-check-input"
                            id="jerseisCheck">
                        <label class="form-check-label" class="checkGeneral2" for="jerseisCheck">Jerséis</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="joggers" class="form-check-input"
                            id="joggersCheck">
                        <label class="form-check-label" class="checkGeneral2" for="joggersCheck">Joggers</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="pantalones" class="form-check-input"
                            id="pantalonesCheck">
                        <label class="form-check-label" class="checkGeneral2" for="pantalonesCheck">Pantalones</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="polos" class="form-check-input"
                            id="polosCheck">
                        <label class="form-check-label" class="checkGeneral2" for="polosCheck">Polos</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="sudaderas" class="form-check-input"
                            id="sudaderasCheck">
                        <label class="form-check-label" class="checkGeneral2" for="sudaderasCheck">Sudaderas</label>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <input type="checkbox" formControlName="zapatos" class="form-check-input"
                            id="zapatosCheck">
                        <label class="form-check-label" class="checkGeneral2" for="zapatosCheck">Zapatos</label>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Otros Filtros -->
            <div class="">
                <h6 class="ml-5 mt-4 mb-2">+Filtros</h6>
                <div class="row ml-5 mt-4">
                    <div class="mr-4 form-group form-check checkGeneral">
                        <!-- <label class="form-check-label" for="inputMultipleSelect1">Color</label> -->
                        <ng-select bindLabel="Color" (change)="filterClothes()" placeholder="Color" multiple="true"
                            appendTo="body" formControlName="colors" [(ngModel)]="colorsSelected">
                            <ng-option [value]="color" *ngFor="let color of colors">{{color}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <!-- <label class="form-check-label" for="inputMultipleSelect2">Talla</label> -->
                        <ng-select bindLabel="Talla" (change)="filterClothes()" placeholder="Talla" multiple="true"
                            appendTo="body" formControlName="sizes" [(ngModel)]="sizesSelected">
                            <ng-option [value]="size" *ngFor="let size of sizes">{{size}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <!-- <label class="form-check-label" for="inputMultipleSelect3">Marca</label> -->
                        <ng-select bindLabel="Marca" (change)="filterClothes()" placeholder="Marca" multiple="true"
                            appendTo="body" formControlName="brands" [(ngModel)]="brandsSelected">
                            <ng-option [value]="brand" *ngFor="let brand of brands">{{brand}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="mr-4 form-group form-check checkGeneral">
                        <!-- <label class="form-check-label" for="inputRange1">Precio</label> -->
                        <ng-select bindLabel="Precio" (change)="filterClothes()" placeholder="Precio" appendTo="body"
                            formControlName="price" [(ngModel)]="pricesSelected">
                            <ng-option [value]="price" *ngFor="let price of prices">{{price}}€</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Filtros pero con modal para el movil -->

    <div class="mt-4 ml-4 filtersmovile">
        <!-- Button trigger modal -->
        <button type="button" (click)="openModal(template)" class="btn btn-outline-dark" data-toggle="modal"
            data-target="#filtersModal">
            Filtros
        </button>

        <!-- Modal -->
        <ng-template #template>
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="filtersForm" (change)="filterClothes()">
                    <!-- Filtros cantidad de tendencia/popularidad -->
                    <div class="">
                        <h6 class="ml-5 mt-4 mb-2">Popularidad</h6>
                        <div class="row ml-5 mt-4">
                            <div class="mr-4 form-group form-check">
                                <input type="checkbox" formControlName="isTrending" class="form-check-input"
                                    id="exampleCheck1">
                                <label class="form-check-label" id="checkTendencia2"
                                    for="exampleCheck1">Fire</label>
                            </div>
                            <div class="mr-4 form-group form-check" id="checkModa">
                                <input type="checkbox" formControlName="isFashion" class="form-check-input"
                                    id="exampleCheck2">
                                <label class="form-check-label" id="checkModa2" for="exampleCheck2">Hot</label>
                            </div>
                            <div class="mr-4 form-group form-check" id="checkNadaMal">
                                <input type="checkbox" formControlName="isGood" class="form-check-input"
                                    id="exampleCheck3">
                                <label class="form-check-label" id="checkNadaMal2" for="exampleCheck3">Cool</label>
                            </div>
                            <div class="mr-4 form-group form-check" id="checkMejorar">
                                <input type="checkbox" formControlName="isOk" class="form-check-input"
                                    id="exampleCheck4">
                                <label class="form-check-label" id="checkMejorar2" for="exampleCheck4">Chill</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Filtros tipo de ropa -->
                    <div class="">
                        <h6 class="ml-5 mt-4 mb-2">Tipo De Ropa</h6>
                        <div class="row ml-5 mt-4">
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="accesorios" class="form-check-input"
                                    id="exampleCheck7">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck7">Accesorios</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="bañadores" class="form-check-input"
                                    id="exampleCheck7">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck7">Bañadores</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="bermudas" class="form-check-input"
                                    id="exampleCheck7">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck7">Bermudas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="bolsos" class="form-check-input"
                                    id="exampleCheck7">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck7">Bolsos</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="camisas" class="form-check-input"
                                    id="exampleCheck6">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck6">Camisas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="camisetas" class="form-check-input"
                                    id="exampleCheck6">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck6">Camisetas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="cazadoras" class="form-check-input"
                                    id="exampleCheck6">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck6">Cazadoras</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="chaquetas" class="form-check-input"
                                    id="exampleCheck8">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck8">Chaquetas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="gorras" class="form-check-input"
                                    id="exampleCheck5">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck5">Gorras</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="jeans" class="form-check-input"
                                    id="exampleCheck8">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck8">Jeans</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="jerseis" class="form-check-input"
                                    id="exampleCheck8">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck8">Jerséis</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="joggers" class="form-check-input"
                                    id="exampleCheck8">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck8">Joggers</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="pantalones" class="form-check-input"
                                    id="exampleCheck8">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck8">Pantalones</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="polos" class="form-check-input"
                                    id="exampleCheck8">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck8">Polos</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="sudaderas" class="form-check-input"
                                    id="exampleCheck7">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck7">Sudaderas</label>
                            </div>
                            <div class="mr-4 form-group form-check checkGeneral">
                                <input type="checkbox" formControlName="zapatos" class="form-check-input"
                                    id="exampleCheck10">
                                <label class="form-check-label" class="checkGeneral2" for="exampleCheck10">Zapatos</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Otros Filtros -->
                    <div class="mb-5">
                        <h6 class="ml-5 mt-4 mb-2">+Filtros</h6>
                        <div class="row mt-4 mb-5">
                            <div class="col-6 form-group form-check checkGeneral">
                                <!-- <label class="form-check-label" for="inputMultipleSelect1">Color</label> -->
                                <ng-select bindLabel="Color" (change)="filterClothes()" placeholder="Color"
                                    multiple="true" appendTo="body" formControlName="colors"
                                    [(ngModel)]="colorsSelected">
                                    <ng-option [value]="color" *ngFor="let color of colors">{{color}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-6 form-group form-check checkGeneral">
                                <!-- <label class="form-check-label" for="inputMultipleSelect2">Talla</label> -->
                                <ng-select bindLabel="Talla" (change)="filterClothes()" placeholder="Talla"
                                    multiple="true" appendTo="body" formControlName="sizes" [(ngModel)]="sizesSelected">
                                    <ng-option [value]="size" *ngFor="let size of sizes">{{size}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-6 form-group form-check checkGeneral mb-5">
                                <!-- <label class="form-check-label" for="inputMultipleSelect3">Marca</label> -->
                                <ng-select bindLabel="Marca" (change)="filterClothes()" placeholder="Marca"
                                    multiple="true" appendTo="body" formControlName="brands"
                                    [(ngModel)]="brandsSelected">
                                    <ng-option [value]="brand" *ngFor="let brand of brands">{{brand}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-6 form-group form-check checkGeneral mb-5">
                                <!-- <label class="form-check-label" for="inputRange1">Precio</label> -->
                                <ng-select bindLabel="Precio" (change)="filterClothes()" placeholder="Precio"
                                    appendTo="body" formControlName="price" [(ngModel)]="pricesSelected">
                                    <ng-option [value]="price" *ngFor="let price of prices">{{price}}€</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Ver
                    resultados</button>
            </div>
        </ng-template>
    </div>
    <div class="row p-5">
        <div *ngFor="let clothe of clothes" class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="mb-3">
                        <progressbar class="progress-striped active" [value]="animation ? clothe['percentage'] : 0"
                            [type]="getType(clothe['percentage'])"></progressbar>
                    </div>
                    <a [href]="clothe['link']" target="_blank"
                        (click)="addImpact(clothe['@id'].replace('/clothes/', ''))"><img
                            [src]="'http://localhost:8000/media/'+clothe['image']['filePath']" class="card-img-top m-5"
                            [alt]="clothe['title']"></a>
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"> <a [href]="clothe['link']" target="_blank"
                            (click)="addImpact(clothe['@id'].replace('/clothes/', ''))">{{clothe['title']}}</a></h5>
                    <p class="card-text">{{clothe['description']}}</p>
                    <h6 class="card-text">Impactos: <strong>{{clothe['impacts']}}</strong></h6>
                    <h3 class="card-text text-right">{{clothe['price']}}€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">{{clothe['createdAt']}}</h6>
                        </div>
                        <span (click)="clickFavorite(clothe['@id'])" class="col-4 text-right">
                            <i *ngIf="userClothes.includes(clothe['@id'])" class="fa fa-heart fa-lg" style="color: #dc3545;"></i>
                            <i *ngIf="!userClothes.includes(clothe['@id'])" class="fa fa-heartbeat fa-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                            role="progressbar" title="Tendencia" aria-valuenow="97" aria-valuemin="0"
                            aria-valuemax="100" style="width: 97%">
                        </div>
                    </div>
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQbGQfE0ef2KYAqvvTpywjzGKH9E5hFrg4z9echH9hpAyeRSL4JodwYX3JLNfA5Y-sE0JNV0eYKMw&usqp=CAc"
                        class="card-img-top m-5" alt="...">
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"> <a
                            href="https://www.zalando.es/mango-real-sudadera-blau-m9122s0a6-k11.html?size=M&allophones=0&wmc=SEM340_NB_GO._3922365855_673823494_29767381890.&opc=2211&mpp=google%7cv1%7c%7cpla-262301597036%7c%7c1005517%7c%7cg%7cc%7c%7c149794006548%7c%7cpla%7cM9122S0A6-K11000M000%7c262301597036%7c1%7c&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1AA3vj2VDaZVTsCmZrEsV_bBii0iDdzdWQBhnYWoMFMOQ-afAOS4h8aAmF1EALw_wcB&gclsrc=aw.ds"
                            target="_blank">Sudadera</a></h5>
                    <p class="card-text">Sudadera de la mejor calidad, perfecta para el frío invierno</p>
                    <h6 class="card-text">Impactos: <strong>67</strong></h6>
                    <h3 class="card-text text-right">12.99€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">01/07/2021</h6>
                        </div>
                        <span class="col-4 text-right">
                            <i class="fa fa-heart fa-lg" style="color: #dc3545;"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            title="Puede mejorar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                            style="width: 10%"></div>
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRPndJs3hfgsWKARjUM796s6IaMdTW2VCUGlz2wav8QYwd0qazasQqnRBA9SQPA_kuLleU29mzD5rQ&usqp=CAc"
                        class="card-img-top m-5" alt="...">
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"> <a
                            href="https://www.aboutyou.es/p/jack-jones/chaqueta-de-entretiempo-4569661?vid=39049577&quick=view&utm_source=google&utm_medium=cpc&utm_campaign=PLA_ES_AP_Best_Generic_NK_CSS_ADF&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1AW3_OlBZPqE12UP2x3SjBLd82jEruw54NaZ24jgcguv5lqYUXPB18aAsV-EALw_wcB"
                            target="_blank">Chaqueta</a></h5>
                    <p class="card-text">Chaqueta de alta costura, perfecta para lucirla</p>
                    <h6 class="card-text">Impactos: <strong>2</strong></h6>
                    <h3 class="card-text text-right">30€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">02/07/2021</h6>
                        </div>
                        <span class="col-4 text-right">
                            <i class="fa fa-heart-o fa-lg" style="color: #007bff;"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                            role="progressbar" title="Tendencia" aria-valuenow="87" aria-valuemin="0"
                            aria-valuemax="100" style="width: 87%">
                        </div>
                    </div>
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ3DCmjY5hrM_j4EkchQf58l_kAz09cvQQw2r-DCBaJQpSJD7jp3TJjg_7-Y40OX7zNKzfpdYX4CA&usqp=CAc"
                        class="card-img-top m-5" alt="...">
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"><a
                            href="https://es.shein.com/Los-Angeles-Graphic-Short-Sleeve-Tee-p-1542195-cat-1738.html?url_from=esadplaswtee01200824400M&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1D36tUXQtSgK_HsO-e0KwKlXXVR7QHZ6kFwf_L4UmsLTFj4dGegoqIaAvDdEALw_wcB"
                            target="_blank">Camisa</a></h5>
                    <p class="card-text">Camisa fresca, listo para el verano</p>
                    <h6 class="card-text">Impactos: <strong>55</strong></h6>
                    <h3 class="card-text text-right">4.99€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">01/07/2021</h6>
                        </div>
                        <span class="col-4 text-right">
                            <i class="fa fa-heart-o fa-lg" style="color: #dc3545;"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                            role="progressbar" aria-valuenow="40" title="Nada mal" aria-valuemin="0" aria-valuemax="100"
                            style="width: 40%">
                        </div>
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQxyqssWhwky_fI9mmngFKGJxqu6TJl9NsZvi82fK3cjIxnIwm56tRnI8yIkvLSfeGmG_frvam6Mfw&usqp=CAc"
                        class="card-img-top m-5" alt="...">
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"><a
                            href="https://www.zalando.es/urban-classics-pantalones-deportivos-brown-ur622j002-o11.html?size=XXL&allophones=0&wmc=SEM340_NB_GO._3922365855_673823494_29767381370.&opc=2211&mpp=google%7cv1%7c%7cpla-1045789648763%7c%7c1005517%7c%7cg%7cc%7c%7c149794006521%7c%7cpla%7cUR622J002-O110XXL000%7c1045789648763%7c1%7c&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1CJGscxWq91MpmxTeyfO3lYiHhBZ1ED1uz5gicCxaeHgCwk8tsBQBkaAu_eEALw_wcB&gclsrc=aw.ds"
                            target="_blank">Pantalón</a></h5>
                    <p class="card-text">Pantalón italiano, a vestir de Bérgamo</p>
                    <h6 class="card-text">Impactos: <strong>22</strong></h6>
                    <h3 class="card-text text-right">7.99€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">01/07/2021</h6>
                        </div>
                        <span class="col-4 text-right">
                            <i class="fa fa-heart fa-lg text-success"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                            role="progressbar" title="A la moda" aria-valuenow="65" aria-valuemin="0"
                            aria-valuemax="100" style="width: 65%">
                        </div>
                    </div>
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRAskZsg5jA7Kr_UHvxVXBlk997QYltZwx6vRkyB9kMrURmgm2Cx55zSgn9_f5dHnAjAS3rldLh9g&usqp=CAc"
                        class="card-img-top m-5" alt="...">
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"><a
                            href="https://www.amazon.es/Deportes-Ajustables-b%C3%A9isbol-cl%C3%A1sica-Transpirable/dp/B07S7CBZ11/ref=asc_df_B07S7CBZ11/?tag=googshopes-21&linkCode=df0&hvadid=346791918447&hvpos=&hvnetw=g&hvrand=6234736470476570331&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1005517&hvtargid=pla-758626463663&psc=1"
                            target="_blank">Gorra</a></h5>
                    <p class="card-text">Gorra del flow, para gente atrevida</p>
                    <h6 class="card-text">Impactos: <strong>36</strong></h6>
                    <h3 class="card-text text-right">4.50€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">02/07/2021</h6>
                        </div>
                        <span class="col-4 text-right">
                            <i class="fa fa-heart fa-lg text-warning"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="text-center w-100">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                            role="progressbar" title="Tendencia" aria-valuenow="89" aria-valuemin="0"
                            aria-valuemax="100" style="width: 89%">
                        </div>
                    </div>
                    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQRqMZYbWLaDwSpUWPOIsA_IwTSnBLgJiqj53-5FJZ82kzWAPVfcFnAMsnLYRti1Pif9igSGnn9drnt&usqp=CAc"
                        class="card-img-top m-5" alt="...">
                </div>
                <div class="card-body border-top">
                    <h5 class="card-title"><a
                            href="https://es.shein.com/Lace-up-Front-Wide-Fit-Sneakers-p-970057-cat-1913.html?url_from=esadplaswshoes03191216691EUR35&gclid=Cj0KCQjw8vqGBhC_ARIsADMSd1Ddwsyl47pIrkwXmhWuhYDblJ-eNlUdKhACKLF5ujQHmvp1w6wysaQaAobKEALw_wcB"
                            target="_blank">Zapatos</a></h5>
                    <p class="card-text">Zapatos de vestir, comodidad a tu alcance</p>
                    <h6 class="card-text">Impactos: <strong>45</strong></h6>
                    <h3 class="card-text text-right">19€</h3>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="text-muted">02/07/2021</h6>
                        </div>
                        <span class="col-4 text-right">
                            <i class="fa fa-heart-o fa-lg text-danger"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>