img {
    height: 100px;
    width: 100px;
}
.card-footer {
    width: 100%;
}
.progress {
    border: 2px dashed rgba(0, 0, 0, 0.125);
}

.buttonFilter {
    border-color: #343a40;
    border-style: solid;
    border-width: 3px;
}

.btn-outline-dark {
    border-color: #343a40 !important;
}