<div class="bg-light">
    <div class="container">
        <h2 class="p-2 border border-dark rounded">SOBRE NOSOTROS</h2>

        <div class="mt-4">
            <h3>Nuestra Historia:</h3>
            <div class="">
                <p class="">
                    <img src="/assets/logo.svg.png" alt="ImageAboutUs1" style="height: 200px;float: right;"
                        class="p-2 imgheight">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem suscipit, quidem
                    nemo
                    pariatur id
                    nostrum veritatis earum voluptatem animi fugit quaerat voluptas ipsum impedit beatae nam at
                    nulla
                    eum
                    facere! Nemo nostrum qui incidunt architecto illum nesciunt pariatur nam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nihil velit dolore
                    consequuntur?
                    Itaque eos maiores incidunt ipsum eligendi. Cum dolores maiores id delectus non fuga ipsa dolor
                    nihil nemo ipsam excepturi, sint ad debitis dolore nobis velit officiis?

                </p>

            </div>
        </div>

        <!-- Por algun motivo este no necesita margin ni padding pero el de abajo si -->
        <div class="">
            <h3>Objetivos de la Fundación:</h3>
            <div class="">
                <p>
                    <img src="/assets/logo.svg.png" alt="ImageAboutUs2" style="height: 200px;float: left;"
                        class="p-2 imgheight">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem suscipit, quidem
                    nemo
                    pariatur id
                    nostrum veritatis earum voluptatem animi fugit quaerat voluptas ipsum impedit beatae nam at
                    nulla
                    eum
                    facere! Nemo nostrum qui incidunt architecto illum nesciunt pariatur nam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nihil velit dolore
                    consequuntur?
                    Itaque eos maiores incidunt ipsum eligendi. Cum dolores maiores id delectus non fuga ipsa dolor
                    nihil nemo ipsam excepturi, sint ad debitis dolore nobis velit officiis?
                </p>
            </div>
        </div>

        <div class="mt-5 p-1 mb-5">
            <h3>Nuestro compromiso:</h3>
            <div class="">
                <p class="">
                    <img src="/assets/logo.svg.png" alt="ImageAboutUs1" style="height: 200px;float: right;"
                        class="p-2 imgheight">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem suscipit, quidem
                    nemo
                    pariatur id
                    nostrum veritatis earum voluptatem animi fugit quaerat voluptas ipsum impedit beatae nam at
                    nulla
                    eum
                    facere! Nemo nostrum qui incidunt architecto illum nesciunt pariatur nam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nihil velit dolore
                    consequuntur?
                    Itaque eos maiores incidunt ipsum eligendi. Cum dolores maiores id delectus non fuga ipsa dolor
                    nihil nemo ipsam excepturi, sint ad debitis dolore nobis velit officiis?

                </p>
            </div>
        </div>

    </div>
</div>